{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
      // {
      //   "corejs": 3,
      //   "targets": "ie 8"
      // }
    ]
  ]
}
